In [ ]:
import pandas as pd

# Login using e.g. `huggingface-cli login` to access this dataset
df = pd.read_csv("hf://datasets/kheejay88/Bank_Personal_Loan_Modelling/Bank_Personal_Loan_Modelling.csv")
print(df.head(5))

   ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  Mortgage  \
0   1   25           1      49     91107       4    1.6          1         0
1   2   45          19      34     90089       3    1.5          1         0
2   3   39          15      11     94720       1    1.0          1         0
3   4   35           9     100     94112       1    2.7          2         0
4   5   35           8      45     91330       4    1.0          2         0

   Personal Loan  Securities Account  CD Account  Online  CreditCard
0              0                   1           0       0           0
1              0                   1           0       0           0
2              0                   0           0       0           0
3              0                   0           0       0           0
4              0                   0           0       0           1

In [ ]:
#verifier la presence de doublons
print(df.duplicated().sum())

0

#Verifier les type des donnees

In [ ]:
#verification du type des donnees
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [ ]:
#transfomer personal loan en categorie
df['Personal loan']=df['Personal Loan'].astype('category')
print(df['Personal Loan'].unique())

[0 1]

In [ ]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
Personal loan         0
dtype: int64

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age,5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income,5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

In [ ]:
#supprimer les colonnes dupliquer avec les meme informtion
df = df.T.drop_duplicates().T
print(df.columns)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [ ]:
#sauvegarder le fichier
df.to_csv("Bank_Personal_Loan_nettoye.csv", index=False)

In [ ]:
# Garder uniquement les lignes où Personal Loan = 1
df_loan_yes = df[df["Personal Loan"] == 1]

# Vérifier le résultat
print(df_loan_yes.head())
print("Nombre de clients ayant accepté le prêt :", len(df_loan_yes))

    ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  Mortgage  \
9   10   34           9     180     93023       1    8.9          3         0
16  17   38          14     130     95010       4    4.7          3       134
18  19   46          21     193     91604       2    8.1          3         0
29  30   38          13     119     94104       1    3.3          2         0
38  39   42          18     141     94114       3    5.0          3         0

    Personal Loan  Securities Account  CD Account  Online  CreditCard  \
9               1                   0           0       0           0
16              1                   0           0       0           0
18              1                   0           0       0           0
29              1                   0           1       1           1
38              1                   1           1       1           0

   Personal loan
9              1
16             1
18             1
29             1
38             1
Nombre de clients ayant accepté le prêt : 480

Enregistrer la dataset

In [ ]:
# Enregistrer les données filtrées dans un nouveau CSV
df_loan_yes.to_csv("clients_acceptant_pret.csv", index=False)

print("Fichier enregistré : clients_acceptant_pret.csv")

Fichier enregistré : clients_acceptant_pret.csv

In [ ]:
df=pd.read_csv("clients_acceptant_pret.csv")
print(df.head(5))

   ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  Mortgage  \
0  10   34           9     180     93023       1    8.9          3         0
1  17   38          14     130     95010       4    4.7          3       134
2  19   46          21     193     91604       2    8.1          3         0
3  30   38          13     119     94104       1    3.3          2         0
4  39   42          18     141     94114       3    5.0          3         0

   Personal Loan  Securities Account  CD Account  Online  CreditCard  \
0              1                   0           0       0           0
1              1                   0           0       0           0
2              1                   0           0       0           0
3              1                   0           1       1           1
4              1                   1           1       1           0

   Personal loan
0              1
1              1
2              1
3              1
4              1

In [ ]:
print(df.columns)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard', 'Personal loan'],
      dtype='object')

In [ ]:
#supprimer les colonnes dupliquer avec les meme informtion
df = df.T.drop_duplicates().T
print(df.columns)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [ ]:
#sauvegarder le fichier
df.to_csv("Client_accept_pret_nettoye.csv", index=False)